@import "./variables";

body {
    margin: 0;
    padding: 0;

    header {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .logo {
            height: 100px;
            width: 100px;
        }

        #wrap {
            height: 50px;
            margin: 0;
            z-index: 1;
            background-color: $grey;

            .navbar {
                height: 50px;
                padding: 0;
                margin: 0;
                display: flex;

                li {
                    width: 135.8px;
                    text-align: center;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    background-color: $grey;
                    border-bottom: 1px solid $border;
                    z-index: 1;
                    
                    a{
                        height: 50px;
                        box-sizing: border-box;
                    }

                    ul {
                        display: none;
                        height: auto;
                        margin: 0;
                        padding: 0;
                    }

                    a {
                        height: 50px;
                        box-sizing: border-box;
                        padding: 18px 0;
                        border-left: 1px solid $border;
                        text-decoration: none;
                        color: $white;
                        display: block;
                    }
                }

                li:hover {
                    background-color: $red;

                    ul {
                        display: block;

                    }
                }
            }
        }
    }

    footer {
        .lower__container {
            background-color: $grey;
            border: 1px solid $grey;

            .footer__nav {
                div {
                    display: flex;
                    justify-content: space-between;

                    nav {
                        width: 50%;

                        ul {
                            list-style: none;
                            display: flex;
                            justify-content: space-between;

                            li {
                                a {
                                    color: $white;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                }

                                a:hover {
                                    text-decoration-line: underline;
                                    text-decoration-color: $red;
                                }
                            }
                        }

                    }

                    .logo__foot {
                        height: 100px;
                        width: 100px;
                        background-color: $white;
                    }
                }
            }
        }

        .inline__lower__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin: 0;

            .info__address {
                color: $white;

            }

            .info__contact {
                color: $white;

            }
        }

        .section__media {
            margin-top: 85px;
            margin-right: 164px;
            margin-bottom: 72px;

            ul {
                list-style: none;
                display: flex;
                gap: 16px;

                li {
                    i {
                        color: $white;
                        font-size: 24px;
                    }

                    i:hover {
                        color: $red;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}