@import "./variables";

body {
    margin: 0;
    padding: 0;

    header {
        display: flex;
        width: 100%;

        .logo {
            height: 100px;
            width: 100px;
        }

        #wrap {
            width: 100%;
            height: 50px;
            margin: 0;
            z-index: 99;
            position: relative;
            background-color: #444444;

            .navbar {
                height: 50px;
                padding: 0;
                margin: 0;
                position: absolute;
                display: flex;

                li {
                    height: auto;
                    width: 135.8px;
                    float: left;
                    text-align: center;
                    list-style: none;
                    font: normal bold 13px/1em Arial, Verdana, Helvetica;
                    padding: 0;
                    margin: 0;
                    background-color: #444444;

                    ul {
                        display: none;
                        height: auto;
                        margin: 0;
                        padding: 0;
                    }

                    a {
                        padding: 18px 0;
                        border-left: 1px solid #ccc9c9;
                        text-decoration: none;
                        color: white;
                        display: block;
                    }
                }

                li:hover {
                    background-color: #444444;

                    ul {
                        li:hover {
                            display: block;
                        }

                    }

                    a:hover {
                        background-color: #444444;
                    }

                    .navbar li ul li {
                        background-color: #444444;
                    }

                    .navbar li ul li a {
                        border-left: 1px solid #444444;
                        border-right: 1px solid #444444;
                        border-top: 1px solid #c9d4d8;
                        border-bottom: 1px solid #444444;
                    }

                    .navbar li ul li a:hover {
                        background-color: #a3a1a1;
                    }

                }
            }
        }

    }

    footer {
        .lower__container {
            background-color: $black;

            .footer__nav {
                div {
                    display: flex;
                    justify-content: space-between;

                    nav {
                        width: 50%;

                        ul {
                            list-style: none;
                            display: flex;
                            justify-content: space-between;

                            li {
                                a {
                                    color: $white;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                }

                                a:hover {
                                    text-decoration-line: underline;
                                    text-decoration-color: $red;
                                }
                            }
                        }

                    }



                    .logo {
                        height: 100px;
                        width: 100px;
                    }
                }
            }
        }

        .inline__lower__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin: 0;

            .info__address {
                color: $white;

            }

            .info__contact {
                color: $white;

            }
        }

        .section__media {
            margin-top: 85px;
            margin-right: 164px;
            margin-bottom: 72px;

            ul {
                list-style: none;
                display: flex;
                gap: 16px;

                li {
                    i {
                        color: white;
                        font-size: 24px;
                    }

                    i:hover {
                        color: red;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}