body {
  margin: 0;
  padding: 0;
}
body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body header .logo {
  height: 100px;
  width: 100px;
}
body header #wrap {
  height: 50px;
  margin: 0;
  z-index: 1;
  background-color: #323d5a;
}
body header #wrap .navbar {
  height: 50px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body header #wrap .navbar li {
  width: 135.8px;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #323d5a;
  border-bottom: 1px solid #ccc9c9;
  z-index: 1;
}
body header #wrap .navbar li a {
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body header #wrap .navbar li ul {
  display: none;
  height: auto;
  margin: 0;
  padding: 0;
}
body header #wrap .navbar li a {
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 0;
  border-left: 1px solid #ccc9c9;
  text-decoration: none;
  color: white;
  display: block;
}
body header #wrap .navbar li:hover {
  background-color: #bf2746;
}
body header #wrap .navbar li:hover ul {
  display: block;
}
body footer .lower__container {
  background-color: #323d5a;
  border: 1px solid #323d5a;
}
body footer .lower__container .footer__nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body footer .lower__container .footer__nav div nav {
  width: 50%;
}
body footer .lower__container .footer__nav div nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px;
}
body footer .lower__container .footer__nav div nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
body footer .lower__container .footer__nav div nav ul li a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #bf2746;
          text-decoration-color: #bf2746;
}
body footer .lower__container .footer__nav div .logo__foot {
  height: 100px;
  width: 100px;
  background-color: white;
}
body footer .inline__lower__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
}
body footer .inline__lower__container .info__address {
  color: white;
}
body footer .inline__lower__container .info__contact {
  color: white;
}
body footer .section__media {
  margin-top: 85px;
  margin-right: 164px;
  margin-bottom: 72px;
}
body footer .section__media ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
body footer .section__media ul li i {
  color: white;
  font-size: 24px;
}
body footer .section__media ul li i:hover {
  color: #bf2746;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */